body{
    background-color: #faf0e6;
}
h1 {
    font-size: 40px;
    margin-top: 80px;
    color: #ae9f80;
    
}
h4{
    font-size: 20px;
    margin-top: 30px;
    color: #c3b091;
}
#count {
    float: right;
    color: #ae9f80;
    font-size: 20px;
    font-weight: 500px;
}

#textbox {
    width: 1000px;
    height: 5000px;
}

#hero {
    width: 100%;
    height: 30vh;
    background: url("../img/hero-bg.jpg") center center;
    background-size: cover;
    position: relative;
}