body{
    vertical-align: center;
    padding-top: 200px;
}
.calculator {
    width: 400px;
    margin: 0 auto;
    padding: 35px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.display {
    margin-bottom: 20px;
}

.display input {
    width: 100%;
    height: 80px;
    font-size: 30px;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    background-color: #FFEB3B;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #FFEB3B;
}